<StackLayout id="container" class="form">
  <Label id="title" text="Login"></Label>
  <StackLayout class="input-field">
    <Label text="Correo" class="label font-weight-bold m-b-2" ></Label>
    <TextField keyboardType="email" class="input" autocorrect="false" autocapitalizationType="none"></TextField>
    <StackLayout class="hr-light"></StackLayout>
  </StackLayout>
  <StackLayout class="input-field">
    <Label text="Contraseña" class="label font-weight-bold m-b-2"></Label>
    <TextField class="input" secure="true"></TextField>
    <StackLayout class="hr-light"></StackLayout>
  </StackLayout>
  <Button text="ingresar" class="btn btn-primary" (tap)="doSignIn()"></Button>
</StackLayout>