#drawer-container {
    height: 100%;
    RadSideDrawer {
        height: 100%;
        .sidedrawer-content {
            width: 100%
        }

        .sidedrawer-list-item{
            height: 55
        }
        .sidedrawer-list-item-text {
            border-width: 0;
            width: 100%
        }

        .drawer-item {
            
        }
        .drawer-subitem {
            padding-left: 10;
            background-color: #222222
        }
    }
}