<StackLayout id='drawer-container'>
  <RadSideDrawer tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sidedrawer-left">
      <StackLayout class="sidedrawer-header">
        <Label text="Navigation Menu"></Label>
      </StackLayout>
      <ScrollView orientation="vertical">
        <StackLayout class="sidedrawer-content">
          <GridLayout class="sidedrawer-list-item drawer-item" rows="*" columns="*">
            <Label class="sidedrawer-list-item-text" row="0" col="0" text="Inicio" [nsRouterLink]="['/home']"></Label>
          </GridLayout>
          <GridLayout class="sidedrawer-list-item drawer-item" rows="*" columns="*">
            <Label class="sidedrawer-list-item-text" row="0" col="0" text="Perfil" [nsRouterLink]="['/profile']"></Label>
          </GridLayout>
          <GridLayout class="sidedrawer-list-item drawer-item" rows="*" columns="*">
            <Label class="sidedrawer-list-item-text" row="0" col="0" text="Recursos humanos"></Label>
          </GridLayout>
          <GridLayout class="sidedrawer-list-item drawer-subitem" rows="*" columns="*">
            <Label class="sidedrawer-list-item-text" row="0" col="0" text="Vacaciones"></Label>
          </GridLayout>
          <GridLayout class="sidedrawer-list-item drawer-subitem" rows="*" columns="*">
            <Label class="sidedrawer-list-item-text" row="0" col="0" text="Certificados laborales"></Label>
          </GridLayout>
          <GridLayout class="sidedrawer-list-item drawer-subitem" rows="*" columns="*">
            <Label class="sidedrawer-list-item-text" row="0" col="0" text="Desprendibles de nomina"></Label>
          </GridLayout>
          <GridLayout class="sidedrawer-list-item drawer-subitem" rows="*" columns="*">
            <Label class="sidedrawer-list-item-text" row="0" col="0" text="Solicitud de capacitación"></Label>
          </GridLayout>
          <GridLayout class="sidedrawer-list-item drawer-item" rows="*" columns="*">
            <Label class="sidedrawer-list-item-text" row="0" col="0" text="Servicios comunes"></Label>
          </GridLayout>
          <GridLayout class="sidedrawer-list-item drawer-subitem" rows="*" columns="*">
            <Label class="sidedrawer-list-item-text" row="0" col="0" text="Atención de reuniones"></Label>
          </GridLayout>
          <GridLayout class="sidedrawer-list-item drawer-item" rows="*" columns="*">
            <Label class="sidedrawer-list-item-text" row="0" col="0" text="Solicitud de viajes"></Label>
          </GridLayout>
          <GridLayout class="sidedrawer-list-item drawer-item" rows="*" columns="*">
            <Label class="sidedrawer-list-item-text" row="0" col="0" text="Help Desk"></Label>
          </GridLayout>
        </StackLayout>
      </ScrollView>
    </StackLayout>
    <StackLayout tkMainContent>
      <ng-content></ng-content>
    </StackLayout>
  </RadSideDrawer>
</StackLayout>